nz-divider {
    color: #333;
    fontweight: normal;
  }
  .inner-box {
    display: flex;
    background: #0092ff;
    padding: 8px 0;
    border: 1px black solid;
    justify-content: center;
  }

.road{
    height: 50px;
    background: rgb(194, 193, 193);
}